<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutOutputDuringTests="true"
         defaultTestSuite="unit">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/Live</exclude>
        </testsuite>
        <!-- Настоящий аккаунт из .env: composer test-live. -->
        <testsuite name="live">
            <directory>tests/Live</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
